a {
    text-decoration: none;
    color: #EE3355;
}

body {
    font-family: "Fira Sans";
}

sup {line-height: 0;}

.opaque {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url("../images/sept8battle.jpeg");
    opacity: .4;
    width: 100%;
    height: 100%;
}

.sol-box {
    position: absolute;
    height: 23%;
    width: 30%;
    background-color: #EE3355;
    bottom: 16%;
}

.time_points {
    position: absolute;
    color: #EE3355;
    width: 1.1em;
    line-height: 0.7em;
    bottom: 8%;
    text-align: center;
}

/* CSS click event hack http://tympanus.net/codrops/2012/12/17/css-click-events/ */
.time_points .click-event { display: none;}
.time_points a:focus ~ .click-event { display: block; }
.time_points a:focus {outline: 0;}

.timeline {
    position: absolute;
    bottom: 8%;
    /*right: 77%;
    left: 10%;*/
    height: 0.9em;
    background-color: rgba(87, 86, 85, .8);
    margin-bottom: 1.4em;
    margin-left: 1.5em;
    margin-right: 1.2em;
    height: 0.9em;
}

.question_points {
    position: absolute;
    bottom: 14%;
}

.FixedHeightContainerText {
    position:absolute;
    left: 12%;
    top: 6%;
    height: 70%;
    width:38%;
    overflow: auto;
    background-color:rgba(87, 86, 85, .8); 
    color: white;
}

.FixedHeightContainerText a {color: #eee;}

.FixedHeightContainerMC {
    position:absolute;
    left: 50%;
    top: 6%;
    height: 70%;
    width:38%;
    overflow: auto;
    background-color:rgba(255, 255, 255, 0.8); 
    color: rgba(87, 86, 85, 1.0);
}

.FixedHeightContainerInit {
    position:absolute;
    left: 12%;
    top: 6%;
    height: 70%;
    width:76%;
    overflow: auto;
}

.FixedHeightContainerGame {
    position:absolute;
    left: 12%;
    top: 6%;
    height: 50%;
    width:76%;
    overflow: none;
}

.FixedHeightContainerInit img {
    position: relative;
    height: 45%;
}

.FixedHeightContainerGame img {
    position: relative;
    height: 40%;
    margin-top: 2%;
    margin-right: 8%;
}

#ContentInit {
    background-color:rgba(87, 86, 85, .8);
    overflow: none;
}

.Content {
    height:100%;
}

.Content h1,h2,h3,p {
    margin: 10px;
}

.Content h1 {
    font-family: "Vollkorn";
    font-size: 2.75em;
    border-bottom: 0.1em solid #EE3355;
}

.Content h2 {
    font-family: "Fira Sans";
    font-size: 2em;
    font-weight: 500;
}

.Content h3 {
    font-family: "Fira Sans";
    font-size: 0em;
}

.Content p {
    font-family: "Fira Sans";
    font-size: 1.25em;
    line-height: 1.4em;
    font-weight: 400;
}

.FixedHeightWidth {
    position:centered;
    height: 70%;
    width:75%;
}

.back-button {
    position: absolute;
    right: 3%;
    top: 3%;
    color: rgba(87, 86, 85, 1.0);
}

.arrow-down {
    position: absolute;
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #EE3355;
    bottom: 14%;
}

.continue {
    position: absolute;
    top: 30%;
    right: 3%;
    width: 8%;
    text-align: center;
}


.checkanswer {
    position: absolute;
    bottom: 22.5%;
    left: 46%;
    height: 5%;
    width: 15%;
    background-color: rgba(87, 86, 85, 1.0);
}

.revealfinal {
    position: absolute;
    bottom: 22.5%;
    left: 46%;
    height: 5%;
    width: 15%;
    background-color: rgba(87, 86, 85, 1.0);
}

a.fill-div {
    display: block;
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    vertical-align: middle;
    color: white;
}

ol {
    list-style-type: lower-alpha;
}
