#backg_2_chall {
    position:absolute;
    bottom: 12em;
    left: 12em;
}
#backg_0_introd {
    position:absolute;
    bottom: 12em;
    left: 24em;
}
#backg_1_sabine {
    position:absolute;
    bottom: 12em;
    left: 36em;
}
#backg_3_civil {
    position:absolute;
    bottom: 12em;
    left: 48em;
}
#backg_4_modern {
    position:absolute;
    bottom: 12em;
    left: 60em;
}